h2{
	color:red;
	background-color: black;
}

h1{
	font-size: 16px;
}

@media screen and (min-width:660px){
	h2 {
		color: beige;
	}
	h3{
		font-size: 26px;
	}
}

.test, .test-2{
	margin-top:20%;
}

.t .l{
	font-family: 'Courier New', Courier, monospace;
}